.lightbox {
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
    background: rgba(119, 112, 112, 0.85);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.visible {
    display: flex;
}
.lightbox img {
    max-width: 60%;
    max-height: 100%;
}