body {
    background: #eee;
}
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.visible {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.lightbox img {
    max-width: 80%;
    max-height: 80%;
}